<div class='splash-page'>

    <img class='nav-logo' src='/img/Nav_logo_White.png' />
    <img class='ball' src='/img/VBall.png' />
    <a class='gradient-menu' href='#'></a>
    <div class='main-container'>
        <img class='logo' src='/img/Large_Type_Yellow.png' />
        <div class='body-text'>
            Are you game?
        </div>
        <a class='team btn' href='#/team'>
            Get a Sub
        </a>
        <span class='line-spacer'></span>
        <a class='agent btn' href='#/team'>
            Be a Sub
        </a>
    </div>

    <div class='desc'>
        Free Agent helps you find subs for your rec league sports team when you're short on players.
    </div>

</div>