@import "vars";
body, html {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}
a {
    text-decoration: none;
}


.gradient-menu {
    position: absolute;
    top: 50px;
    right: 50px;
    padding-left: 1.25em;
}
.gradient-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1.6em;
    height: 0.2em;
    background: white;
    box-shadow: 
        0 0.4em 0 0 white,
        0 0.8em 0 0 white;
}

.yellow-cta {
    background-color: $yellow-cta;
    color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}

.header {
    background-color: $blackish;
    height: 80px;

    .nav-logo {
        padding: 20px;
    }
    .gradient-menu {
        top: 25px;
    }
}
.footer {
    background-color: $blackish;
    height: 50px;

    .footer-logo {
        padding: 10px;
    }
}

@media only screen and (min-width: 1000px) {

}


