@import "vars";

.team-page{


    .main-body {
        text-align: center;
        padding: 50px;

        .header-text {
            font-size: 50px;
            margin-bottom: 15px;
        }
        .body-text {
            width: 440px;
            margin: auto;
            margin-bottom: 40px;
        }

        .spacer {
            width: 300px;
            margin-bottom: 40px;
        }

        .search-form{

            
            select {
                background-color: white;
                border-radius: 0px;
                font-size: 14px;
                padding: 10px 40px;
                border: solid 2px black;
                width: 200px;
                height: 40px;
                margin-right: 10px; 
                margin-left: 10px; 

                &.full-line {
                    display: block;
                    width: 420px;
                    margin: 40px auto;
                }

                &.third {
                    width: 125px;
                }
            }

            hr {
                width: 420px;
                margin: 30px auto;
            }

            .buttons {
                margin-top: 42px;
            }
            .btn {
                border-radius: 4px;
                padding: 18px 50px;
                width: 30px;
                font-size: 12px;
                margin: 0px 10px;
            }
        }
    }


}
